.carousel{
  width:500px;
  min-height:315px;
  margin:0 auto;
  position:relative;
  padding-bottom:30px;
  overflow:hidden;
  
  h2{
  color:#736861; 
  margin:15px 0 5px;
  text-shadow:0 1px rgba(255,255,255,0.5);
  }
  h6{
  color:#928566; 
  margin:0;
  }
  blockquote{
  margin:0;
  padding:30px;
  background-color: #DB532B;
  color:white;
  box-shadow: 0 5px 2px rgba(0,0,0,0.1);
  position:relative;
  transition: background-color 0.6s linear;
  }
  
  blockquote:after { 
    content: " "; 
    height: 0; 
    width: 0; 
    position: absolute; 
    top: 100%; 
    border: solid transparent; 
    border-top-color: #DA532B;
    border-left-color:#DA532B;
    border-width: 10px; 
    left: 10%; 
    z-index:200;
  } 
}


.two blockquote:after{
  border: solid transparent; 
  border-top-color: purple;
  border-left-color:purple;
  border-width: 10px;
}

.quotes{
  position:absolute;
  color:rgba(255,255,255,0.5);
  font-size:5em;
}
.leftq{
  top:-25px;
  left:5px;
}
.rightq{
  bottom:-10px;
  right:5px;
}
.quote-format {
  margin-top:50px;
  .leftq,.rightq {
    color:#eee;
  }
  blockquote {
    border:none;
     padding:0 80px;
  }
  h2 {
    font-size:15px;
  }
  i,.quotes.link {
     font-size: 150px;
    opacity: 0.3;
    padding-top: 10px;
  }
}
.carousel img{
  float:left;
  margin-right: 20px;
  width: 170px !important;
  height: auto;
}

.owl-carousel {
  cursor: -moz-grab;
  .owl-nav {
    > div {
      background:rgba(255,255,255,0.30);
      height: 20%;
      position: absolute;
      top: 38%;
      width: 44px;
      opacity: .8;
      height: 30px;
      @include transition( opacity .6s );
      &:hover{
        background:rgba(255,255,255,0.5);
      }
     i{
       margin-left: 9px;
       color: rgba(255, 255, 255, 0.6);
       font-size: 18px;
      }
    }
    .owl-next {
      float: right;
      right: -40px;
    }
  }
  &:hover .owl-nav {
    > div {
      opacity:1;
    }
  }
  &.carousel_portfolio {
  .owl-nav {
    > div {
     height: 20%;
    }
  }
  }
}

.owl-theme .owl-nav [class*="owl-"] {
  margin: 6px;
  padding: 6px 4px;
  background: rgba(214,214,214,0.24);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev {
  left: -40px;
  top: 10px;
}
.owl-carousel .owl-controls .owl-nav .owl-next {
  top: 10px;
}


.carousel_blog{
  span.tag {
    a {
      @extend .primary-color_bg; 
      border-radius: 2px;
      color: #fff;
      font-size: 0.9em;
      padding: 0 7px;
    }
  }
} 


.wd-carousel-container {
  list-style: none;
  position: relative;
  text-align: center;
  .info {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
  .carousel-icon {
    position: absolute;
    width: 100%;
    top: 45%;
    top: calc( 50% - 15px );
    opacity: 0;
    @include transition( (all 0.6s, opacity .3s) );
    i {
      @extend .primary-color_bg;
      border-radius: 50%;
      color: #fff;
      font-size: 2em;
      line-height: 29px;
      padding: 10px 10px 7px;
      width: 48px;
    }
  }
  > img {
    @include transition( (transform 0.6s, opacity 0.5s) );
  }
  .carousel-details {
    @include transition( (transform 0.4s, opacity 0.1s 0.3s) );
    background: #FFF;
    width: 100%;
    padding: 5px 10px;
    @include transform ( translateY(100%) );
  }
  &:hover {
    > img {
      @include transform ( translatey(-30px) );
      opacity: .9;
    } 
    .carousel-icon {
      top: 100px;
      top: calc( 50% - 32px);
      opacity: 1;
    }
    .carousel-details {
      @include transform ( translateY(0) );
    }
  }
}

.carousel_client {
  &.owl-carousel .owl-item {
    padding: 0 30px;
    .wd-item {
      text-align: center;
    }
    img {
      display: inline;
      float: none;
      text-align: center;
      width: auto;
      filter: grayscale(1);
    }
  }
}
//----------- metro blokcks overflow simple shortcode portfolio-----
.masque {
  height:100%;
  overflow:hidden;
}
.owl-carousel .owl-item img {
  width: auto !important;
}
.team-member-slider, .team-member-carousel {
  .owl-dots .owl-dot {
      display: inline-block;
  }
  .owl-dots .owl-dot span {
      background: #d6d6d6 none repeat scroll 0 0;
      border-radius: 30px;
      display: block;
      height: 10px;
      margin: 5px 7px;
      transition: opacity 200ms ease 0s;
      width: 10px;
  }
  .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #869791 none repeat scroll 0 0;
  }
  .owl-dots {
    bottom: 1px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}