.box-icon {
    height: 100%;
    padding: 5px 10px 0 0;
    position: absolute;
    img,i {
      @extend .primary-color_bg;
      border-radius: 50px;
      height: 60px;
      padding: 10px;
      width: 60px;
    }
    i {
      color: #fff;
      padding-left: 17px;
      padding-top: 15px;
      font-size:2em;
    }
    
 }
.box-description {
   padding-left: 70px;
   h3 {
     font-size: 19px;
     margin-bottom: 10px;
     text-transform: uppercase;
     color: #555;
     letter-spacing:2px;
     line-height: 23.75px;
   }
   p{
     color: #888;
     font-family: "Open Sans",sans-serif;
     font-size: 13px;
     padding: 0;
   }
 }
 //________________RTL box-icon________________
.wd-section-text-icon {
  .wd-text-icon-rtl {
    margin-bottom: 0;
    border-top: 1px solid #ff0078;
    border-bottom: 1px solid #9c00ff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    -webkit-background-size: 1px 100%;
    -moz-background-size: 1px 100%;
    background-size: 1px 100%;
    background-image: -webkit-linear-gradient(top, #ff0078 0%, #9c00ff 100%), -webkit-linear-gradient(left, #ff0078 0%, #9c00ff 100%);
    background-image: -moz-linear-gradient(top, #ff0078 0%, #9c00ff 100%), -moz-linear-gradient(left, #ff0078 0%, #9c00ff 100%);
    background-image: -o-linear-gradient(top, #ff0078 0%, #9c00ff 100%), -o-linear-gradient(left, #ff0078 0%, #9c00ff 100%);
    padding: 40px 50px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background .35s ease-in-out;
    transition: background .35s ease-in-out;
    &:hover {
      background: -webkit-linear-gradient(top, #ff0000 0%, #ff0078 100%), -webkit-linear-gradient(right, #ff0000 0%, #ff0078 100%);
      background: -moz-linear-gradient(top, #ff0000 0%, #ff0078 100%), -moz-linear-gradient(right, #ff0000 0%, #ff0078 100%);
      background: -o-linear-gradient(top, #ff0000 0%, #ff0078 100%), -o-linear-gradient(right, #ff0000 0%, #ff0078 100%);
      border: 0;
    }
    .box-icon {
      position: relative;
      padding: 0;
      width: 65px;
      img {
        height: auto;
        width: 100%;
        background-color: transparent;
        border-radius: 0;
        display: block;
        padding: 0;
      }
    }
    .box-icon,
    .box-description {
      display: table-cell;
      vertical-align: top;
    }
    .box-description {
      color: #FFF;
      padding: 0 0 0 20px;
      h3 {
        font-family: 'Ubuntu';
        font-weight: bold;
        text-transform: capitalize;
        font-size: 25px;
        color: #FFF;
        margin-bottom: 25px;
        line-height: 35px;
      }
      p {
        color: #FFF;
        margin-bottom: 0;
        font-size: 15px;
      }
    }
  }
}
//____________________style2______________
.wd-text-icon-style2 {
  .box-icon {
    height: 100%;
    padding: 5px;
    position: absolute;
    img,i {
      @extend .primary-color_bg;
      border-radius: 5px;
      height: 50px;
      padding: 10px;
      width: 50px;
    }
    i{
     color: #000;
    font-size: 2em;
    padding-left: 12px;
    }

    }
   .box-description {
     padding-left: 70px;
     h3 {
       color: #555;
      font-size: 20px;
      margin-bottom:10px;
     }
     p{
       color: #888;
      font-family: "Open Sans",sans-serif;
      font-size: 13px;
      padding: 0;
     }
   }
}
//____________________style2 - 2 ______________
.wd-text-icon-style2-2 {
  padding: 20px 0;
  .box-icon {
    height: 100%;
    padding: 5px;
    position: absolute;
    img,i {
      background: $secondary-color;
      border-radius: 5px;
      height: 50px;
      padding: 10px;
      width: 50px;
    }
    i{
     color: #fff;
    font-size: 2em;
    padding-left: 12px;
    }

    }
   .box-description {
     padding-left: 80px;
     h4 {
       color: #FFF;
     }
     p {
       color: rgba(255, 255, 255, 0.89);
       font-family: "Open Sans", sans-serif;
       font-size: 13px;
       padding: 0;
     }
   }
}
//____________________style3______________
.wd-text-icon-style3 {
  .box-icon {
    position:unset;
    text-align:center;
    padding:37px 0;
    background:#fefefe;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    img,i {
      @extend .primary-color_bg;
      border-radius: 0;
      width: unset;
      height: unset;
     
    padding: 26px 55px;
      
    }
    i{
     color: #000;
     font-size: 3.5em;
      padding: 39px 65px;
    }
    
    }
   .box-description {
     padding:30px 20px;
     background:#fff;
     
     h4 {
       color: #333;
      margin-bottom:10px;
     }
     p{
      color: #888;
      font-family: "Open Sans",sans-serif;
      font-size: 13px;
      padding: 0;
     }
   }
}
//____________________style5______________
.wd-text-icon-style5 {
  position: relative;
  margin: 10px;
  p {
    position: absolute;
    top: calc(50% - 6px);
    left: 0;
    z-index: 10;
    opacity: 0;
    transition: all .5s ease-in-out;
  }
  & .box-icon:after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .5s ease-in-out;
  }

  &:hover {
    & .box-icon:after {
      opacity: 1;
    }
    .box-description {
      p {
        color : #fff;
        opacity: 1;
        top: calc(50% - 60px);
      }
    }
  }


  .box-icon {
    position: relative;
    text-align: center;
    padding: 0;
    background: #fefefe;
    img, i {
      background: transparent;
      border-radius: 0;
      width: auto;
      height: auto;
      padding: 0;
    }
    i {
      color: #fff;
      font-size: 3.5em;
      padding: 39px 65px;
    }
  }
  .box-description {
    padding: 30px 20px;
    background: #fff;

    h4 {
      color: #333;
      margin-bottom: 10px;
    }
    h3 {
      font-size: 18px;
      margin-bottom: 8px;
      letter-spacing: 1px;
      line-height: 23.75px;
      color: #000;
      font-weight: 600;
    }
    p {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      padding: 0 40px;
    }
  }
}
//_______________ fucts____________
.wd-fucts {
  text-align: center;
  margin-bottom:20px;
  .icon {
    min-height:70px;
  }
  .number {
    color:#fff;
    
   font-weight: bold;
   font-size:30px;
    span {
      border-bottom:2px solid rgba(255,255,255,0.5);
      padding-top: 5px;
      width: 100px;
      display:inline-block;
      padding-bottom:10px;
    }
  }
  .title {
    padding-top:10px;
    color:#fff;
    font-size:16px;
  }
}

.wd-section-text-icon {
  .wd-text-icon-style6 {
    background-color: #ff0000;
    .box-icon {
      position: relative;
      padding: 30px 25px;
      img {
        height: auto;
        width: auto;
        -webkit-border-radius: 0;
        border-radius: 0;
        padding: 0;
      }
    }
    .box-description {
      padding: 0 0 45px 30px;
      h3, p {
        color: #FFF;
        margin-bottom: 0;
        font-size: 19px;
        font-weight: 400;
      }
      h3 {
        font-family: 'Open Sans';
        line-height: inherit;
        text-transform: none;
        letter-spacing: inherit;
      }
      p {
        &:after {
          content: "";
          display: block;
          height: 2px;
          width: 40px;
          background-color: #FFF;
          margin: 20px 0 0;
        }
      }
    }
    &.custom-layout-6 {
      .box-description {
        padding: 0 0 45px 30px;
        h3, p {
          font-size: 35px;
          font-weight: 600;
          line-height: 45px;
        }
        p {
          &:after {
            height: 3px;
            width: 50px;
          }
        }
      }
    }
  }
}
