br {
   display: block;
   margin: 5px 0;
}
body {
  overflow-x:hidden;
}
input[type="text"], 
input[type="password"],
input[type="date"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="month"], 
input[type="week"], 
input[type="email"],
input[type="number"], 
input[type="search"], 
input[type="tel"], 
input[type="time"], 
input[type="url"], 
input[type="color"], textarea {
  box-shadow:none;
}
p {
  font-family: "Open Sans";
  font-size: 14px;
  color: #787878;
  line-height: 1.7;
}
pre {
  overflow : auto;
  margin-bottom:20px;
}
li {
  color: #787878;
}
/*_________________wordpress core _____________*/
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
  clear: both;

}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 4px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}
.gallery-caption {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  max-height: 50%;
  opacity: 0;
  padding: 6px 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  width: 100%;
}
.bypostauthor > article .fn:before {
   -webkit-font-smoothing: antialiased;
  display: inline-block;
  font: normal 16px/1 Genericons;
  text-decoration: inherit;
  vertical-align: text-bottom;
}
/*______________ Global classes ________*/
.mi-row,
.mi-row-right {
  max-width: 585px;
  float: right;
  padding: 0px 30px;;
}
.mi-row-right {
  float: left !important;
}
.m-b-0 {
  margin-bottom: 0 !important;
}
.p-t-30 {
  padding-top: 30px;
}
.p-t-50 {
  padding-top: 50px;
}

.wd_empty_space {
  clear: both;
}


.wd-title-section_c {
  text-align: center;
  margin-bottom: 50px;
  h2 {
    font-size: 26px;
    color: inherit;
    &::after {
      content: " ";
      display: block;
      @extend .primary-color_bg;
      height: 3px;
      width: 80px;
      margin: 15px auto 15px;
    }
  }
  h5 {
    font-size: 16px;
    color: #888;
    margin: 0 auto;
    font-weight: normal;
    width: 300px;
    padding-left: 15px;
    padding-right: 15px;
    @media #{$medium-up} {
      width: 600px;
    }
  }
}
.wd-title-section_c,
.wd-title-section_l {
  &.wd-layout_2 {
    margin-bottom: 0;
    .subtitle-content {
      position: relative;
      margin-bottom: 20px;
      h5 {
        position: relative;
        margin-bottom: 0;
        font-size: 15px;
        color: #ff0000;
        display: inline-block;
        width: unset;
        &:after{
          content: " ";
          display: block;
          background-color: #F00;
          height: 2px;
          width: 80px;
          margin: 15px auto;
        }
      }
      hr {
        margin: 0;
        width: 100px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-color: #F00;
        border-width: 2px 0 0;
      }
    }
    h2 {
      margin-bottom: 0;
      font-family: 'Ubuntu';
      font-weight: 600;
      font-size: 40px;
      &:after {
        display: none;
      }
    }
  }
}
.wd-title-section_c {
   &.wd-layout_2 {
     .subtitle-content {
       hr {
         display: none;
       }
     }
   }
 }
.wd-title-section_l {
  &.wd-layout_2 {
    .subtitle-content {
      h5 {
        &:after {
          display: none;
        }
      }
    }
  }
}
.wd-title-section_l {
  text-align:left;
  h2 {
    font-size: 26px;
    .white & {
      color: #FFF;
    }
    &::after{
      content: " ";
      display: block;
      @extend .primary-color_bg;
      height: 3px;
      width: 80px;
      margin: 15px 0 20px;
    }
  }
  h5 {
    font-size: 16px;
    color: #888;
    width: 600px;
    width: 100%;
    .white & {
      color: RGBA(255, 255, 255, 0.74);
    }
  }
}
.wd-title-section_r {
  margin-bottom:50px;
  text-align:right;
  h2 {
    font-size: 30px;
  }
  h5 {
    font-size: 16px;
    color: #888;
    
    width: 600px;
  }
}

.wd-title-element {
  font-size: 19px;
  margin-top:30px;
  margin-bottom: 16px;
}
.wd-title-block {
  font-size: 28px;
  margin-bottom:15px;
}
//_________________masonry___________________
.element{transition: all 0.3s ease 0s;}
#filters {
  text-align:center; 
  li {
    
    display:inline-block;
    padding:10px 20px;
    border-radius:5px;
    a {
      color:#111;
    }
    &:hover, &:focus, &:active {
      @extend .primary-color_bg;
      a {
        color:#fff;
      }
    }
    &:first-child {
      @extend .primary-color_bg;
      a {
        color:#fff;
      }
    }
  }

}

.mi-row,
.min-row-child > div {
  max-width: $row-width/2;
}
.row .row {
  max-width: $row-width;
  margin: 0 auto;
}
.wpb_row {
  &.row {
    margin: 0 auto;
    clear: both;
  }
}
.wpb_row, .wpb_content_element, ul.wpb_thumbnails-fluid > li, .wpb_button {
  margin-bottom: 0 !important;
}

.animated, .animation-parent {
  overflow: hidden !important;
}
.list-icon {
  list-style : none;
}

div.vc_row.wpb_row.vc_inner.vc_row-fluid.title-service{
  @media #{$max-small}{
    margin: auto;
  }
}


.div_overlay {
  transition: all .5s ease-in-out;
  background-size: cover;
  background-position: center center;
  &:before {
    content: " ";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    transition: all .5s ease-in-out;
  }
  &:hover {
    transform: scale(1.1);
    &:before {
      background: rgba(0, 0, 0, 0.7);
    }
  }
  > .wpb_wrapper {
    position: relative;
  }
}
@media #{$small-only} {
  .vc_row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}
.sidebar-btn {
  padding: 0 30px;
  .vc_btn3 {
    &.vc_general {
      border: 0;
      text-transform: uppercase;
      letter-spacing: .5px;
      font-size: 15px;
      font-weight: 500;
      text-align: center;
      &.vc_btn3-icon-left:not(.vc_btn3-o-empty) .vc_btn3-icon {
        left: 60px;
      }
      &:hover {
        border: 0;
      }
    }
  }
  &.vc_btn3-container {
    margin-bottom: 10px;
  }
}